<h1>VTM 5e Dice Engine</h1>
<form action="/results/" method="POST">
    How many vampire dice to roll? <input type="number" name="vampire_dice" min="1" max="10">
    <br/>
    How many hunger dice to roll? <input type="number" name="hunger_dice" min="1" max="5">
    <br/>
    <input type="submit">
</form>

